# Consumer = App
# Access = User credentials

# Note: app is expecting the values as environment variables:

export TWITTER_CONSUMER_KEY=1234567890abcdefghijklmno
export TWITTER_CONSUMER_SECRET=1234567890abcdefghijklmnopqrstuvwxyz1234567890abcd
export TWITTER_ACCESS_TOKEN=1234567890abcdefghijklmnopqrstuvwxyz1234567890abcd
export TWITTER_ACCESS_SECRET=1234567890abcdefghijklmnopqrstuvwxyz123456789

export PEDDOWN_HASHTAGS="#yycwalk #yyccc #ableg #visionzero"
export PEDDOWN_MINISTERS="@prasadpandayyc @JasonCoppingAB @lornedach @DShepYEG"
